.logo {
  height: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .nav-item {
    display: none;
  }
}

.center-menu {
  display: flex;
  justify-content: center;
  flex: 1;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
}

.white-toolbar {
  background-color: white;
  color: black; /* Ajusta el color del texto según sea necesario */
}

