<div class="search-bar-container">
  <div class="search-bar">
    <div class="search-section">
      <span class="search-label">Dónde</span>
      <input matInput placeholder="Explora destinos">
    </div>
    <div class="search-section">
      <span class="search-label">Llegada</span>
      <input matInput placeholder="Agrega fecha">
    </div>
    <div class="search-section">
      <span class="search-label">Salida</span>
      <input matInput placeholder="Agrega fecha">
    </div>
    <div class="search-section">
      <span class="search-label">Quién</span>
      <input matInput placeholder="¿Cuántos?">
    </div>
    <button mat-icon-button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>


<div class="container" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d971.294246335321!2d-74.2148544217935!3d-13.151233641527522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91128757127be3a5%3A0x2c263fd17b471d4b!2sMERCADO%20JESUS%20NAZARENO!5e0!3m2!1ses!2spe!4v1718853585225!5m2!1ses!2spe"
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>











